
body {
    background-color: rgb(124, 201, 220);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

h1, h2, h3, p {
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


li {
 text-align: center;
 font-weight: 400;
 font-style: italic;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

 
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 50%;        
    border: 1px ;
    cursor: pointer;
}


ul {
    list-style-position: inside;
    text-align: center;
    padding: 0;
    cursor: pointer;
}


a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #003366;
    cursor: pointer;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: auto;   
    padding: 10px;
    border-top: 2px solid #333;
    cursor: pointer;
}
